{
  "presets": [
    ["env"],
    "react"
  ],
  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties",
    "transform-async-to-generator",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "cfg": "./cfg",
        "test": "./test"
      }
    }]
  ]
}
