body {
  margin: 0;
  background-color: #EEEEEE;
}

#outerContainer {
  width: 100%
}

div#siaApp {
  max-width: 840px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}

.incident-container {
  flex-direction: column;
}

.incident-col, .standard-padding {
  padding: 16px 16px 0px 16px;
}

.incident-EventFooter {
  margin: 16px 0 16px 0;
  justify-content: space-between;
  display: flex;
}

.incident-row {
  display: flex;
  flex-direction: column;
}

::-ms-clear {
  display: none;
}

@keyframes yellowfade {
  0% {
    background: yellow;
  }
  20% {
    background: yellow;
  }
  100% {
    background: transparent;
  }
}
